{{define "jul"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/CSS/home.css" >
    <title>Document</title>
</head>
<body>
    <h1>LES ALBUMS DE Jul poto!!</h1>
    <h2>{{.Artist}}</h2>
    {{range .Albums}}
      <div> 
          <h2>{{.Name}}</h2>
          <img src="{{.Images}}" alt="image de couverture de l'ALBUM">
          <h3>Date de sortie: {{.ReleaseDate}}</h3>
          <h3>Nombre de Musiques: {{.TotalTracks}}</h3>
      </div>
    {{end}}
</body>
</html>

{{end}}
