*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
color: white;
background-color: sienna;
}

.RESULTS{
    margin-top: 160px; /* vu que le js n'intervient pas encore,on va le positionner dynamiquement */
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
 }
  .album{
    width: auto;
   display: flex;
   flex-direction: column;
   margin-right: 20px;
   margin-bottom: 20px;
   }
   .album img:last-child{
     margin-right: 0;
   }

   .albumImg{
    position: relative;
  }
  .albumImg{
    border-color: black;
    width: 350px;
    height: 255px;
    border-radius: 20px;
  }
  #TEXT{
    padding: 0 5px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  #TEXT p{
    margin-bottom: 10px;
  }
  
   