/* Styles pour l'en-tête */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LES COULEURS APPORTEES AU DIV SONT 
JUSTE POUR POUVOIR LES DIFFERENCIER FACILEMENT */

body{
font-family: Georgia, 'Times New Roman', Times, serif;
position: relative;
display: flex;
 flex-direction: column;
 background-color: #000000;
}
.SYNOPSIS {
  z-index: 1;
  display: flex;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0c0c0c;
  padding: 20px;
  color: #fff;
}
.SYNOPSIS span{
  padding: 0 10px;
  border-right: 2px solid rgb(43, 153, 48);
}
.SYNOPSIS span:last-child{
  border-right:none;
}


.Start {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.Start img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

#infosProfil {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  padding: 5px;
  justify-content: space-between;
  border-style: groove;
}

#infosProfil img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

#infosProfil span {
  font-size: 25px;
}

/* Styles pour les produits */
.AllProduct {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.PRODUCT {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  background-color: #646464;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.PRODUCT:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.IMAGE {
  position: relative;
  margin-bottom: 10px;
}

#Like {
  position: absolute;
  top: 10px;
  right: 10px;
}

#img img {
  width: 100%;
  border-radius: 8px;
}

#TEXT {
  margin-top: 10px;
}

#TEXT h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

#TEXT p {
  font-size: 14px;
  margin-bottom: 5px;
}

/* Style du bouton de bas de page */
#Bottom {
  text-align: center;
  background-color: rgb(97, 83, 83);
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-style: groove;
  border-radius: 50px;
  width: 200px;
  height: auto;
  padding: 2px 8px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
}

#Bottom p {
  font-size: 20px;
  margin-bottom: 20px;
 
}

#Bottom img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}
a {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  }
  
  a:hover {
  background-color: #000000;
  } 