{{define "jul"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/styles/jul.css" >
    <title>Albums de jul</title>
</head>
<body>
    
    <div class="SYNOPSIS"> 
        <div id="SynopsisImage">
         <a href="/welcome"> <img src="/assets/icons/Spotify-Emblema.png" alt="logo musice"> </a>
    </div>

        <div class="Start">
   <span>C'est</span>
   <span>Marseille</span>
   <span>bébé</span>
   <img src="/assets/icons/music_note_FILL0_wght400_GRAD0_opsz24.png" alt="loupe">
        </div>
   
     <div id="infosProfil">
       <p>M</p> 
       <img src="/CSS/icons/WORLD.png" alt="UNE MAP">

          <div id="LoginProfil">
            <img src="/CSS/icons/PROFIL.png" alt="Profil_Icon">
          </div>

     </div>
</div>

    <div class="AllProduct">
        {{range .Items}}
            <div class="PRODUCT">
                {{$name := .Name}}

                <div class="IMAGE">
                    <div id="Like"> <img src="/assets/icons/coeur.png" ></div>
		
                    {{range $index, $element := .Images}}
                        {{if eq 0 $index}}
                            <img src="{{$element.Url}}" alt="Jul Album Image: {{$name}}" style="width: 10rem"/>
                        {{end}}
                    {{end}}
                </div>

                <div class="TEXT">
                    <h3>{{$name}}</h3>
                    <div>
                        <div>Sorti le : {{.ReleaseDate}}</div>
                      
                     <div class="STARS"> 
                            <span>{{.TotalTracks}} pistes
                            <img src="/assets/icons/music_note_FILL0_wght400_GRAD0_opsz24.png" alt="icone musique">
                        </span>
                    </div>
                </div>
            </div>
        {{end}}
    </div>
    
</body>
</html>

{{end}}
