{{define "sdm"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/styles/style.css" >
    <title>Bolide allemand</title>

</head>
<body>
    <h1>MUSIQUE DE SDM </h1>
    <h2>{{.Name}}</h2>
    

    {{ $name := .Name }}
    <div class="album-img">
        {{range $index, $element := .Album.Images}}
            {{if eq $index 0}}
            <img src="{{ $element.Url }}" alt="cover image">
            {{end}}
        {{end}}
    </div>
  
    <div class="album-info">
        <h3>ALBUM: {{$name}}</h3>
        <p>Artiste:
            {{range .Artists}}
                {{.Name}},
            {{end}}
        </p>
        <p>Date de sortie: {{.Album.ReleaseDate}}</p>
        <a href="{{.Album.ExternalUrls.Spotify}}">Ecouter sur Spotify</a>
    </div>

</body>
</html>
{{end}}
