{{define "welcome"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/styles/welcome.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/assets/icons/spotif11.png">
    <title>acceuil</title>
  </head>
<body>
    <div id="AFFICHAGE">
    <h1>FAITES VOTRE CHOIX!</h1>
    <h2>Bienvenue</h2>
      <div id="selectionner">
      
        <ol>
     <li class="container">
            <a href="/jul">JUL</a>
            <i class="fas fa-arrow-right"></i>
            <div class="bg"></div>
          
    </li> 
     
          <li class="container">
              <a href="/sdm">SDM</a>
              <i class="fas fa-level-down-alt"></i>
              <div class="bg"></div>
          </li> 
        </ol>
    </div>
</div>
</body>
</html>
{{end}}